---
global:
  scrape_interval: 15s
  evaluation_interval: 15s
alerting:
rule_files:

scrape_configs:
  # monitor ourselves
  - job_name: 'prometheus'
    static_configs:
      - targets: [ '{{ ansible_hostname }}:9090']

  - job_name: 'node'
    file_sd_configs:
      - files:
        - 'scrape_targets/node/*.yml'
