---
- targets:
    - {{ ansible_default_ipv4["address"] }}:{{ service.port }}
  labels:
    name: {{ inventory_hostname }}
    datacenter: {{ hostvars[inventory_hostname].datacenter | default('unknown') }}
    distro: {{ hostvars[inventory_hostname].distro | default('unknown') }}
    size: {{ hostvars[inventory_hostname].node_size | default('unknown') }}

